@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --gray: #EEEFF0;
    --light-brown: #CABABA;
    --green: #769990;
    --dark-brown: #625F5F;
    --red: #DC3026;
    --light-red: #ee786b;
    --icon: #ee786b;
    --black: #302C2B;
    --off-white: #f8fafc;
    --option-background: #ffeeea;
    --option-background-hover: #fbf5f3;
    --text-gray: #a6abb0;
    --white: #ffff;
    --text-green: #32a3bb;
    --search-background: #f4fafc;
    --para-color: #0f2b3c;
    --hover-button: #efefef;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--off-white);
    color: var(--black);
    font-size: 0.8rem;
}

/* Header CSS */

.container .header {
    position: fixed;
    top: 0;
    height: 4rem;
    width: 100vw;
    background-color: #ffff;
    padding: 10px 0;
    display: flex;
    align-items: center;
    box-shadow: 0px 16px 32px 0px rgba(233, 238, 242, 0.4);
}

.container .header .logo-wrapper {
    flex: 2;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .header .logo-wrapper .logo-area{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
    font-size: 1.1rem;
    cursor: pointer;
}

.container .header .logo-wrapper .logo-area img {
    height: 1.7rem;
}

.container .header .logo-wrapper .logo-text .bold {
    font-weight: 800;
}

.container .header .logo-wrapper .logo-text .thin {
    font-weight: 500;
}

.container .header .options-wrapper {
    height: 2rem;
    flex: 5;
    display: flex;
    font-weight: 500;
    justify-content: space-around;
    align-items: center;
}

.header-active {
    background-color: var(--option-background);
    color: var(--icon);
}

.container .header .options-wrapper .option {
    display: flex;
    column-gap: 0.5rem;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    height: 100%;
    border-radius: 20px;
    cursor: pointer;
}

.container .header .options-wrapper .option:hover {
    background-color: var(--option-background-hover);
    color: var(--icon);
    transition: 0.2s ease-in;
    
}

.container .header .options-wrapper .option i {
    font-size: 1rem;
    color: var(--icon);
}


.container .header .utility-wrapper {
    height: 2rem;
    flex: 3;
    display: flex;
    justify-content: center;
    column-gap: 2rem;
}

.container .header .utility-wrapper .notification {
    position: relative;
    height: 2rem;
    width: 2rem;
    background-color: var(--off-white);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.container .header .utility-wrapper .notification .dot {
    position: absolute;
    top: 5px;
    left: 1rem;
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 50%;
    background-color: var(--red);
}

.container .header .utility-wrapper .company-profile {
    display: flex;
    column-gap: 1rem;
    cursor: pointer;
}

.container .header .utility-wrapper .company-profile .profile-img {
    height: 2rem;
    width: 2rem;
    background-color: var(--off-white);
    border-radius: 50%;
    overflow: hidden;
}

.container .header .utility-wrapper .company-profile .profile-img img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.container .header .utility-wrapper .company-profile .name-email {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.container .header .utility-wrapper .company-profile .name-email .com-name {
    font-size: 0.7rem;
    font-weight: 700;
}

.container .header .utility-wrapper .company-profile .name-email .com-email {
    font-size: 0.6rem;
    font-weight: 500;
    color: var(--text-gray);
}

/* Body CSS */

.body-wrapper {
    margin-top: 4rem;
    height: auto;
    padding: 2rem 2rem;
}

.container .body-wrapper .body-content {
    width: auto;
    display: flex;
}

/* Scroll bar hide ------------------------------------------------------------------*/ 
.container .body-wrapper .body-content .left-panel::-webkit-scrollbar, .right-panel::-webkit-scrollbar, .middle-panel::-webkit-scrollbar {
    display: none;
}

.left-panel, .right-panel, .middle-panel {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
/* --------------------------------------------------------------------------------- */

.container .body-wrapper .body-content .left-panel {
    position: fixed;
    width: 24%;
    left: 2rem;
    height: 100%;
    overflow-x: hidden;
    z-index: 1;
}

.container .body-wrapper .body-content .left-panel .com-profile-conainer{
    width: 100%;
    padding: 2rem 2rem;
    row-gap: 1.5rem;
    background-color: var(--white);
    border-radius: 12px;
}

.container .body-wrapper .body-content .middle-panel {
    width: 48%;
    margin-left: 26%;
    height: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    
}

.container .body-wrapper .body-content .middle-panel .search-container {
    width: 100%;
    background-color: var(--white);
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    row-gap: 1.1rem;
    border-radius: 12px;
    box-shadow: 0px 16px 32px 0px rgba(233, 238, 242, 0.4);
}

.container .body-wrapper .body-content .middle-panel .search-container .search-text-wrapper {
    display: flex;
    justify-content: space-between;
}

.container .body-wrapper .body-content .middle-panel .search-container .search-text-wrapper .search-text {
    font-size: 1rem;
    font-weight: 600;
}

.container .body-wrapper .body-content .middle-panel .search-container .search-text-wrapper .save-search {
    font-weight: 500;
    color: var(--text-green);
    cursor: pointer;
}

.container .body-wrapper .body-content .middle-panel .search-container .search-bar-wrapper {
    display: flex;
    column-gap: 2rem;
    justify-content: center;
    align-items: center;
}

.container .body-wrapper .body-content .middle-panel .search-container .search-bar-wrapper .search-bar {
    width: 100%;
    width: 100%;
    padding: 0.8rem 1rem;
    background-color: var(--off-white);
    display: flex;
    align-items: center;
    column-gap: 1rem;
    border-radius: 10px;
}

.container .body-wrapper .body-content .middle-panel .search-container .search-bar-wrapper .search-bar input {
    background: transparent;
    outline: none;
    border: none;
    width: 100%;
}

.outline {
    border: 1px solid var(--green);
}

.container .body-wrapper .body-content .middle-panel .search-container .search-bar-wrapper button {
    padding: 0.7rem 1rem;
    border: none;
    background-color: var(--off-white);
    border-radius: 10px;
    color: var(--text-green);
    font-size: 0.8rem;
    font-weight: 600;
    cursor: pointer;
}

.container .body-wrapper .body-content .middle-panel .search-container .search-bar-wrapper button:hover {
    background-color: var(--hover-button);
}

.container .body-wrapper .body-content .middle-panel .search-container .search-result {
    padding: 0.8rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background-color: var(--search-background);
    color: var(--text-green);
    font-weight: 500;
}

.container .body-wrapper .body-content .middle-panel .candidate-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.container .body-wrapper .body-content .middle-panel .candidate-wrapper .candidate{
    background-color: var(--white);
    border-radius: 12px;
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    box-shadow: 0px 16px 32px 0px rgba(233, 238, 242, 0.4);
}

.container .body-wrapper .body-content .middle-panel .candidate-wrapper .candidate .profile-title-wrapper {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    
}

.container .body-wrapper .body-content .middle-panel .candidate-wrapper .candidate .profile-title-wrapper .cand-profile-img {
    width: fit-content;
    display: flex;
    align-items: center;
}

.container .body-wrapper .body-content .middle-panel .candidate-wrapper .candidate .profile-title-wrapper .cand-profile-img img {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    object-fit: cover;
}

.container .body-wrapper .body-content .middle-panel .candidate-wrapper .candidate .profile-title-wrapper .cand-name-wrapper{
    width: fit-content;
}
.container .body-wrapper .body-content .middle-panel .candidate-wrapper .candidate .profile-title-wrapper .cand-name-wrapper .cand-name {
    font-size: 0.9rem;
    font-weight: 600;
}

.container .body-wrapper .body-content .middle-panel .candidate-wrapper .candidate .profile-title-wrapper .cand-name-wrapper .cand-grad {
    font-size: 0.7rem;
    color: var(--text-gray);
}

.container .body-wrapper .body-content .middle-panel .candidate-wrapper .candidate .profile-title-wrapper .button-wrapper {
    flex: 2;
    display: flex;
    justify-content: end;
}

.container .body-wrapper .body-content .middle-panel .candidate-wrapper .candidate .profile-title-wrapper .button-wrapper button {
    padding: 0.6rem 1rem;
    border-radius: 12px;
    background-color: var(--off-white);
    border: none;
    color: var(--text-green);
    font-weight: 500;
    font-size: 0.8rem;
    text-align: center;
    cursor: pointer;
    display: flex;
    column-gap: 0.5rem;
}

.container .body-wrapper .body-content .middle-panel .candidate-wrapper .candidate .cand-desc {
    font-size: 0.7rem;
    color: var(--para-color);
}

.container .body-wrapper .body-content .middle-panel .candidate-wrapper .candidate .stack-tags {
    display: flex;
    column-gap: 1rem;
}

.container .body-wrapper .body-content .middle-panel .candidate-wrapper .candidate .stack-tags .tags {
    padding: 0.5rem 0.8rem;
    background-color: var(--off-white);
    border-radius: 10px;
    color: var(--text-gray);
    font-weight: 500;
    font-size: 0.7rem;
}

.container .body-wrapper .body-content .middle-panel .candidate-wrapper .candidate .divider {
    width: 100%;
    height: 2px;
    background-color: var(--text-gray);
    opacity: 0.1;
    border-radius: 2px;
}

.container .body-wrapper .body-content .middle-panel .candidate-wrapper .candidate .stats-wrapper{
    display: flex;
    column-gap: 1rem;
    align-items: center;
}

.container .body-wrapper .body-content .middle-panel .candidate-wrapper .candidate .stats-wrapper .bi {
    color: var(--text-green);
    font-size: 1rem;
}

.container .body-wrapper .body-content .middle-panel .candidate-wrapper .candidate .stats-wrapper .ref-score .score-obtained , .shortlisted-wapper .sort-com {
    font-weight: 700;
    font-size: 1rem;
}
.container .body-wrapper .body-content .middle-panel .candidate-wrapper .candidate .stats-wrapper .ref-score {
    padding: 0.6rem 0;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.3rem;
}

.container .body-wrapper .body-content .middle-panel .candidate-wrapper .candidate .stats-wrapper .ref-score .total-score, .shortlisted-wapper {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.3rem;
}

.container .body-wrapper .body-content .middle-panel .candidate-wrapper .candidate .stats-wrapper .ref-score .total-score, .shortlisted-wapper .sort-text {
    font-size: 0.7rem;
    color: var(--para-color);
    
}

.container .body-wrapper .body-content .middle-panel .candidate-wrapper .candidate .sortlist-btn {
    flex: 2;
    display: flex;
    justify-content: end;
}

.container .body-wrapper .body-content .middle-panel .candidate-wrapper .candidate .sortlist-btn button {
    padding: 0.8rem 2rem;
    border: none;
    background-color: var(--light-red);
    color: var(--white);
    font-size: 0.7rem;
    border-radius: 12px;
    letter-spacing: 0.3px;
    cursor: pointer;
}

.hide {
    opacity: 0;
    transition: 0.5s ease-in-out;
    display: none !important;
    
}

.container .body-wrapper .body-content .right-panel {
    border: 1px solid black;
    position: fixed;
    width: 24%;
    right: 2rem;
    height: 100%;
    overflow-x: hidden;
    z-index: 1;
}